@use './_normalize.scss';

@import 'https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap';

:root {
	--dark: #0b0d17;
	--violet: #d0d6f9;
	--white: #ffffff;
	--font-barlow: 'Barlow', sans-serif;
	--font-barlow-condensed: 'Barlow Condensed', sans-serif;
	--font-bellefair: 'Bellefair', serif;
}

body {
	font-family: var(--font-bellefair);
	background: var(--dark);
}

button,
input,
span,
div {
	font-family: var(--font-bellefair);
}
